@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400;700;900&family=Raleway:wght@100;400;700;900&display=swap');@import '../css/utilities.css';
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import '../css/colors.css';
@import '../css/animations.css';

html {
    scroll-behavior: smooth;
  }
  
body {
    /* background: #061E51; */
    font-family: system-ui, sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    overflow-x: hidden;
    width: 100%;
    max-width: 1900px;
}

.font-galada {
  font-family: 'Galada', 'Brush Script MT', cursive;
}

p, button, .btn, .nav-link {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.nav-link, .nav-link a, a
 {
  color: #ffffff;
  text-decoration: none;
}

.bg-billebration {
  background: url('../../assets/images/backgrounds/bg_billebration.png') center;
  background-size: cover;;
}


