/* height */

.min-vh-50 {
    min-height: 50vh;
}

.min-vh-25 {
    min-height: 25vh;
}

.min-vh-500 {
    min-height: 500px;
}

/* text */

.fw-900 {
    font-weight: 900;
}

/* position */

.z-0 {
    z-index: 0;
}

.z--1 {
    z-index: -1;
}

.z-1 {
    z-index: 1;
}
