---

import Layout from '../layouts/MainLayout.astro';
import ButtonPlus from '../components/ButtonPlus.astro';
import data from '../data/bill.json';
---

<style>
    .grid-1 {
        display: grid;;
      margin: 0 auto;
      grid-template-columns: 1fr;
    }
    .grid-2 {
        display: grid;;
      margin: 0 auto;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
    .headline-1 {
        font-size: 9.5vw;
        /* font-size: 110px; */
        font-weight: bold;
        text-transform: uppercase;
        line-height: 90%;
        letter-spacing: -2px;
    }
    .headline-2 {
        font-size: 10vmin; 
        font-weight: bold; 
        text-transform: uppercase; 
        line-height: 90%
    }
    .fs-img {
        position: absolute;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .body-img {
        width: 100%;
        object-fit: cover;
        border-radius: 23px;
    }
    .rounded {
        border-radius: 23px !important;
    }
    .position-relative {
        position: relative;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        gap: 20px;
     }

.flex-item {
  /* width: 30%; */
  /* border: 1px solid #000; */
  /* flex-grow: 1; */
  flex: 1 0 400px;
  /* min-height: 120px; */
  box-sizing: border-box;
  margin: 0 5px 5px;
  padding: 50px;
  justify-content: space-between;
  text-align: center;
}
    .flex-left-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: left;
    }
    p {
        text-wrap: balance;
    }
    .btn-outline-gradient {
    background: linear-gradient(#00133D, #00133D) padding-box, linear-gradient(105deg, #7B53F5 0%, #2364F6 25%, #56C3FF 50%, #AA206D 75%) border-box;
    border: 3px solid transparent; 
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 20px;
    }
    .btn-gradient {
    background: linear-gradient(105deg, #7B53F5, #2364F6, #56C3FF);
    /* background: linear-gradient(#00133D, #00133D), linear-gradient(105deg, 00133D. #7B53F5 0%, #2364F6 25%, #56C3FF 50%, #AA206D 75%); */
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 20px;
}
.border-gradient {
    background: linear-gradient(#061E51, #061E51) padding-box, linear-gradient(105deg, #7B53F5 0%, #2364F6 25%, #56C3FF 50%, #AA206D 75%) border-box;
    background: linear-gradient(#061E51, #061E51) padding-box, linear-gradient(105deg, #56c3ff 0%, #317ef8 25%, #56C3FF 50%, #525af5 75%) border-box;
    border: 1px solid transparent; 
}

  .card {
    filter: drop-shadow(3px 5px 7px #000); 
    border-radius: 23px;
    background: #092359;
  }
  img.icon {
    border-radius: 23px;
    background: #173678;
    padding: 30px;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #000;
  }

  /* tabs */
  .tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(#061E51, #061E51) padding-box, linear-gradient(105deg, #56c3ff 0%, #317ef8 25%, #56C3FF 50%, #525af5 75%) border-box;
    border: 1.5px solid transparent; 
}
 
.tab {
  width: 100%;
  height: auto;
  color: white;
  overflow: hidden;
  
}
.tab-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 1em;
  font-size: 23px;
  background: #061E51;
  font-weight: light;
  cursor: pointer;
  background: linear-gradient(#061E51, #061E51) padding-box, linear-gradient(105deg, #56c3ff 0%, #317ef8 25%, #56C3FF 50%, #525af5 75%) border-box;
    border: 1px solid transparent; 
}
.tab-label:hover {
  /* background: #1a252f; */
  background: #224B9A;
  background: linear-gradient(#061E51, #061E51) padding-box, linear-gradient(105deg, #56c3ff 0%, #317ef8 25%, #56C3FF 50%, #525af5 75%) border-box;
    border: 1px solid transparent; 
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #fff;
  background: #061E51;
  -webkit-transition: all .35s;
  transition: all .35s;
  overflow-x: hidden;
}

#rdo1:checked + .tab-label,
#rdo2:checked + .tab-label,
#rdo3:checked + .tab-label,
#rdo4:checked + .tab-label {
  /* background: #1a252f; */
}
#rdo1:checked + .tab-label::after,
#rdo2:checked + .tab-label::after,
#rdo3:checked + .tab-label::after,
#rdo4:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#rdo1:checked ~ .email1 {
  display: block;
  visibility: visible;
}

#rdo1:checked ~ .tab-content,
#rdo2:checked ~ .tab-content,
#rdo3:checked ~ .tab-content,
#rdo4:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* #hamburger-checkbox:checked~.color-overlay */

.email1 {
  /* display: none; */
  visibility: hidden;
}

#rdo1,
#rdo2,
#rdo3,
#rdo4 {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

#chck1,
#chck2 {
  display: none;
}

#chck1:checked ~ .item1 #email,
#chck1:checked ~ .item0 #email0,
#chck2:checked ~ .item2 #email2 {
  display: block;
}

#email,
#email0,
#email2 {
  display: none;
}

.wrap input { display: none; }
input:checked ~ main .checker { display: none; }

#check1cont:checked ~ aside .check1cont,
#check2cont:checked ~ aside .check2cont { color: blue; }

#check1cont:checked ~ main .check1,
#check2cont:checked ~ main .check2 {display: inline-block;}
</style>

<Layout title="Paymentus 20th Anniversary Home" description="Big time.">
    <div style="background: #061E51;; color: #ffffff">
       <div class="position-relative" style="margin-top: 60px;">
        <img style="width: 100%; position: absolute; top: 20px; left: 0; margin: 0 auto; padding: 0 5vw" src="/img/backgrounds/chatbot_hero.png" alt="">
        <div class="grid-1 position-relative" style="min-height: 500px;">
            <div style="display: flex; flex-direction: column; min-height: 100vh; justify-content: center; align-items: center; color: #fff; margin: 50px 0 0">
                <h1 style="font-size: 20vmin; font-weight: bold; text-transform: uppercase; line-height: 90%">Chatbot</h1>
                <h3 style="font-weight: light; text-transform: uppercase; color: lightgrey">A self-service tool you can count on, 24/7</h3>
            </div>
        </div>
    </div>

    <div class="grid-2 position-relative" style="padding: 50px 30px 0;">
        <div class="flex-left-center" style="color: #fff; padding: 30px;">
            <h4 style="margin-bottom: 15px; color: lightgrey;">PAYMENTUS CHATBOT</h4>
            <h1 style="font-size: 8vmin; font-weight: bold; line-height: 90%; padding-bottom: 20px;">ANSWERS 24/7</h1>
            <p>The Paymentus Chatbot instantly connects customers to the help they need. Leveraging AI and Machine Learning, our conversational chatbot lets customers resolve questions, receive account balances, make and schedule payments, and contact live help.</p>
            <p>We offer full troubleshooting support while shielding clients and their employees from sensitive cardholder information during the payment process.</p>
            <button class="btn btn-gradient" style="margin-top: 10px">Watch now</button>
        </div>
        <div class="min-vh-500 position-relative">
            <img class="body-img" src="/img/backgrounds/chatbot_1.png" alt="">
        </div>
    </div>

    <!-- icon grid -->

    <div class="flex-container btn-gradient-3" style="min-height: 100vh; margin: 1rem; padding: 50px; justify-content: center; align-items: center; ">
        <div class="w-100" style="color: #fff; text-align: center">
            <h4 style="margin-bottom: 15px; color: lightgrey;">CHATBOT BENEFITS</h4>
            <h1 style="font-size: 8vmin; font-weight: bold; line-height: 90%; padding-bottom: 20px;">MORE THAN JUST A BOT</h1>
            <p>The Paymentus chatbot isn't the thing that pops up while you wait for an actual human. Our automated AI and machine learning backed algorithms give real answers to real questions. These are just a few of the benefits of the Paymentus Chatbot.</p>
        </div>
        <div class="flex-item card" style="justify-items: center; align-items: center; text-align: center; color: #fff; min-height: 440px;">
            <img class="icon" src="/img/icons/Hand.svg" alt="">
            <h2 style="font-weight: bold">AUTOMATED SUPPORT</h2>
            <p>Provides self-service option to instantly resolve routine customer questions through AI-powered chatbot.</p>
        </div>
        <div class="flex-item card" style="justify-items: center; align-items: center; text-align: center; color: #fff; min-height: 440px;">
            <img class="icon" src="/img/icons/Empower.svg" alt="">
            <h2 style="font-weight: bold">EMPOWERS CUSTOMERS</h2>
            <p>Gives customers control to quickly get account information and pay bills at any time without human intervention or hold times.</p>
        </div>
        <div class="flex-item card" style="justify-items: center; align-items: center; text-align: center; color: #fff; min-height: 440px;">
            <img class="icon" src="/img/icons/PCI.svg" alt="">
            <h2 style="font-weight: bold">PCI COMPLIANCE</h2>
            <p>Secures payment and personal information while relieving your PCI compliance burdens.</p>
        </div>
        <div class="flex-item card" style="justify-items: center; align-items: center; text-align: center; color: #fff; min-height: 440px;">
            <img class="icon" src="/img/icons/Time.svg" alt="">
            <h2 style="font-weight: bold">TIME SAVINGS</h2>
            <p>Saves customers and staff time by alleviating the need for customer calls to perform routine payment and account management tasks.</p>
        </div>
        <div class="flex-item card" style="justify-items: center; align-items: center; text-align: center; color: #fff; min-height: 440px;">
            <img class="icon" src="/img/icons/Configurable.svg" alt="">
            <h2 style="font-weight: bold">FULLY CONFIGURABLE</h2>
            <p>Configures to your brand’s personality and compliance requirements.</p>
        </div>
    </div>

    <div class="grid-2" style="padding: 50px;">
        <div class="">
            <img class="body-img" src="/img/backgrounds/chatbot_2.png" alt="">
        </div>
        <div class="flex-left-center" style="color: #fff; padding: 30px;">
            <h4 style="margin-bottom: 15px; color: lightgrey;">CLIENT SUCCESS</h4>
            <h1 style="font-size: 8vmin; font-weight: bold; line-height: 90%; padding-bottom: 20px;">ADDING A NEW LEVEL OF SERVICE WITH CHATBOT</h1>
            <p>See how White House Utility District earned four-star ratings by giving customers an always-on self-service tool to help its customers quickly and easily address their billing, payment and account management needs.</p>
            <button class="btn btn-gradient" style="margin-top: 10px">Read now</button>
        </div>
    </div>

    <!-- accordion -->

    <h1 style="font-size: 8vmin; font-weight: bold; line-height: 90%; padding-bottom: 20px; text-align: center">THE COMPLETE BILLING & PAYMENT SOLUTION FROM PAYMENTUS</h1>
    <div class="grid-2 container border-gradient rounded" style="padding: 30px">
        <!-- <h1 style="font-size: 8vmin; font-weight: bold; line-height: 90%; padding-bottom: 20px; text-align: center">THE COMPLETE BILLING & PAYMENT SOLUTION FROM PAYMENTUS</h1> -->
        <!-- <div class=""></div> -->
        <div class="tabs">
            <div class="tab">
               <input type="checkbox" id="rdo1">
               <label class="tab-label" for="rdo1">INCLUSIVE PAYMENT METHODS</label>
               <div class="tab-content">
                <div class="grid-2">
                    <div class="flex-left-center" style="color: #fff; padding: 30px;">
                        <h4 style="margin-bottom: 15px; color: lightgrey;" data-aos="fade-up">PAYMENTUS CHATBOT</h4>
                        <h1 style="font-size: 8vmin; font-weight: bold; line-height: 90%; padding-bottom: 20px;" data-aos="fade-up" data-aos-delay="200">MORE INCLUSIVE PAYMENT METHODS</h1>
                        <p data-aos="fade-up" data-aos-delay="400">Put in-person cash, major credit and debit cards, popular digital wallets and more at the fingertips of your customers – all without the need for added gateways and vendors.</p>
                        <div style="display: flex;">
                            <div data-aos="fade-up" data-aos-delay="600">
                                <h3>TRADITIONAL PAYMENT METHODS</h3>
                                <img style="width: 200px; padding: 20px 0;" src="/img/backgrounds/payments1.svg" alt="">
                            </div>
                            <div data-aos="fade-up" data-aos-delay="800">
                                <h3>TRADITIONAL PAYMENT METHODS</h3>
                                <img style="width: 200px; padding: 20px 0;" src="/img/backgrounds/payments2.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="min-vh-500" data-aos="fade-up" data-aos-delay="1000">
                        <img class="body-img" src="/img/backgrounds/flat_phone_crop.png" alt="">
                    </div>
                </div>
               </div>
            </div>
            <div class="tab">
               <input type="checkbox" id="rdo2">
               <label class="tab-label" for="rdo2">PAYMENT AND COMMUNICATION CHANNELS</label>
               <div class="tab-content">
                <div class="grid-1">
                    <div class="flex-left-center position-relative" style="color: #fff; padding: 30px;">
                        <h4 style="margin-bottom: 15px; color: lightgrey;" data-aos="fade-up">PAYMENTUS CHATBOT</h4>
                        <h1 style="font-size: 8vmin; font-weight: bold; line-height: 90%; padding-bottom: 20px;" data-aos="fade-up" data-aos-delay="200">MORE PAYMENT AND COMMUNICATION CHANNELS</h1>
                        <p data-aos="fade-up" data-aos-delay="400">Whether they prefer to text, to call, to visit you in person or self-serve on nights and weekends, your customers will enjoy the widest range of ways to view, manage and pay their bills.</p>
                        <img class="body-img" src="/img/backgrounds/solution_flat.png" alt="" data-aos="fade-up" data-aos-delay="600">
                    </div>
                </div>
               </div>
            </div>
            <div class="tab">
               <input type="checkbox" id="rdo3">
               <label class="tab-label" for="rdo3">BUSINESS INTELLIGENCE & ANALYTICS</label>
               <div class="tab-content">
                <div class="grid-2">
                    <div class="flex-left-center" style="color: #fff; padding: 30px;">
                        <h4 style="margin-bottom: 15px; color: lightgrey;" data-aos="fade-up">PAYMENTUS CHATBOT</h4>
                        <h1 style="font-size: 8vmin; font-weight: bold; line-height: 90%; padding-bottom: 20px;" data-aos="fade-up" data-aos-delay="200">MORE BUSINESS INTELLIGENCE & ANALYTICS</h1>
                        <p>Gain real-time reporting and reconciliation on every transaction – regardless of payment type or channel – to optimize back-office processes and accelerate decision-making.</p>
                    </div>
                    <div class="min-vh-500" style="margin-left: auto; width: 80%">
                        <img class="body-img" src="/img/backgrounds/laptop_flat.png" alt="" data-aos="fade-up" data-aos-delay="400">
                    </div>
                </div>
               </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="rdo4">
                <label class="tab-label" for="rdo4">MODERNIZED BILL PRESENTMENT</label>
                <div class="tab-content">
                 <div class="grid-2">
                     <div class="flex-left-center" style="color: #fff; padding: 30px;">
                         <h4 style="margin-bottom: 15px; color: lightgrey;" data-aos="fade-up">PAYMENTUS CHATBOT</h4>
                         <h1 style="font-size: 8vmin; font-weight: bold; line-height: 90%; padding-bottom: 20px;" data-aos="fade-up" data-aos-delay="200">MODERNIZED BILL PRESENTMENT & DELIVERY</h1>
                         <p>Save on bill print by accelerating the adoption with fast, secure eBills delivered to customers by text and email. We can even remove the need for a bill print vendor by printing and mailing statements for you.</p>
                     </div>
                     <div class="min-vh-500 flex-left-center">
                        <img class="body-img" src="https://astroship-pro.web3templates.com/_astro/hero-screenshot.HaV5_ts2_ZE0EX9.avif" alt="" data-aos="fade-up" data-aos-delay="400">
                    </div>
                 </div>
                </div>
             </div>
         </div>
         <div class="email1" style="color: #fff">
            <h1 style="font-size: 8vmin; font-weight: bold; line-height: 90%; padding-bottom: 20px; text-align: center">THE COMPLETE BILLING & PAYMENT SOLUTION FROM PAYMENTUS</h1>
            <p>Et sunt quis reprehenderit veniam culpa aliquip cillum incididunt mollit culpa dolor. Consectetur eiusmod cupidatat exercitation esse fugiat. Laborum ullamco reprehenderit pariatur fugiat qui cillum. Dolor amet est in ad culpa Lorem anim officia enim amet. Proident do ipsum amet consequat consectetur minim consectetur anim nisi exercitation Lorem pariatur. Quis laborum amet sit proident.</p>   
         </div>
    </div>


    <div class="grid-2">

        <input type="checkbox" id="chck1" role="button">
        <input type="checkbox" id="chck2" role="button">
      
        <div class="flex-item">
        <label for="chck1" style="color: #fff"> Sign Up</label>
        <label for="chck2" class="flex-item" style="width: 300px; color: #fff"> Sign Up</label>
        </div>
       
      
            <div class="item0">
                <div id="email0">
                    <p>2nd div triggered from check1</p>
                </div>
            </div>

            <div class="flex-item item1">
                <div id="email">
                    <form id="email-form" class="nice" action="" method="post">
                        <input class="input-text required email" type="text" name="EMAIL" id="id_email" placeholder="Email" />
                        <input type="hidden" name="name" id="id_name_email">
                        <a class="btn">Apply</a>
                    </form>
                </div>
            </div>

            <div class="flex-item item2">
                <div id="email2">
                    <form id="email-form" class="nice" action="" method="post">
                        <input class="input-text required email" type="text" name="EMAIL" id="id_email" placeholder="Email" />
                        <input type="hidden" name="name" id="id_name_email">
                        <a class="btn">Apply</a>
                    </form>
                </div>
            </div>


        </div>
    </div>

   
    </div>
</Layout>

