---
const { plus_button_link, plus_button_color } = Astro.props;
---
<a href={plus_button_link}
    <button class:list={["btn btn-sm btn-link p-0", plus_button_color || ""]}>        
        <svg xmlns="http://www.w3.org/2000/svg" fill={plus_button_color} width="36" height="36" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
    </button>
</a>