---
import { Image } from 'astro:assets';
import paymentusLogo from "../assets/images/logos/paymentus-logo.svg";
---

<footer>
<div class="container-fluid font-montserrat p-5">
    <div class="row text-light pb-3 position-relative">
        <div class="col-md-12 text-center text-md-start">
            <Image style="height: auto; width: 120px;" class=" mb-3" src={paymentusLogo} alt=""/>
        </div>
        <div class="col-md-3 text-center text-md-start">
            <ul class="list-unstyled">
                <li><a href="https://www.paymentus.com/instant-payment-network/">Instant Payment Network</a></li>
                <li><a href="https://www.paymentus.com/who-we-serve/">Who We Serve</a></li>
                <li><a href="https://www.paymentus.com/careers/">Join Our Team</a></li>
                <li><a href="https://www.paymentus.com/events/">Virtual Learning</a></li>
                <li><a href="https://ir.paymentus.com/home/default.aspx" target="_blank">Investor Relations <span class="sr-only">(opens in a new window)</span></a></li>
                <li><a href="https://www2.paymentus.com/l/48232/2023-07-28/8nv6r6/48232/1690553767G3ipDwG6/Paymentus_ESG_Report_2023.pdf">ESG Report</a></li>
                <li><a href="https://www.paymentus.com/privacy-policy/">Privacy Notice</a></li>
            </ul>
        </div>
        <div class="col-md-3 text-center text-md-start">
            <ul class="list-unstyled">
                <li><a href="https://www.paymentus.com/privacy-policy/#Jurisdiction_Specific">Privacy Notice to California Residents</a></li>
                <li><a href="https://www.paymentus.com/cigna-mrf/">Cigna MRF</a></li>
                <li><a href="https://www.paymentus.com/privacy-policy/#Cookie_Notice">Cookie Notice</a></li>
                <li><a href="https://www.paymentus.com/conditions-of-use/">Website Conditions of Use</a></li>
                <li><a href="https://www.paymentus.com/paymentus-authorization-terms/">Payment Authorization Terms</a></li>
            </ul>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-start align-items-center align-items-md-end my-2 mt-md-0">
            <a href="https://www.paymentus.com/lets-talk/">
            <button class="btn btn-primary px-5 mb-3 d-inline-block" type="button"><span class="ps-3"></span>Let's talk<span class="pe-3"></span></button>
            </a>
            <a href="https://www.paymentus.com/trying-pay-bill/">
                <button class="btn btn-gradient-1 px-5 mb-3" type="button">Pay your bill</button>
            </a>
            <a href="https://www.paymentus.com/contact/?form=support" role="button">Customer support
            </a>
        </div>
    </div>
    <div class="row pt-4 text-light border-gradient">
        <div class="col-lg-6 text-center text-md-start">
            <ul class="list-unstyled">
                <li>© 2024 Paymentus Corporation, All Rights Reserved.</li>
                <li>11605 North Community House Road | Suite 300</li>
                <li>Charlotte, North Carolina, 28277</li>
            </ul>
        </div>
        <div class="col-lg-6 align-items-end"></div>
    </div>
</div>
</footer>

<style>
    ul li {
        margin-bottom: 8px;
        font-weight: light;
        font-size: 14px;
    }
    .border-gradient {
        border-top: 4px solid;
        border-image: linear-gradient(to right, darkblue, darkorchid) 1;
        /* border-image: linear-gradient(90deg, #2364F6, #DCF1FF, #56C3FF, #AA206D); */
    }
    .btn-gradient-1 {
        background: linear-gradient(#061E51, #061E51) padding-box, linear-gradient(105deg, #7B53F5 0%, #2364F6 25%, #56C3FF 50%, #AA206D 75%) border-box;
        border-radius: 8px;
        border: 3px solid transparent;
        color: #fff;
}


</style>