---
import ConfettiHero from "./ConfettiHero.astro";
---

<div class="row min-vh-100 position-relative">
    <ConfettiHero />
    <img class="position-absolute top-50 start-50 translate-middle w-75 h-auto mx-auto" 
	src="/img/icons/duck.png" 
	alt="Paymentus' duck mascot, Bill the Duck"
	data-aos="fade">
    <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center text-center position-relative">
		<!-- <h1 class="fw-bold text-uppercase" style="font-size: 16vw">Billebration</h1> -->
		<div class="wrapper">
		<svg>
            <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                Billebration
            </text>
        </svg>
		</div>
    </div>
</div>

<style>

svg {
	font-family: "Barlow Condensed", sans-serif;
	width: 100vw; 
	height: 100%;
}
svg text {
	opacity: 0;
	animation: stroke 3s ease-in-out 0.1s forwards;
	stroke-width: 2;
	stroke: #FFFFFF;
	font-size: 16vw;
	font-weight: 900;
	text-transform: uppercase;
}

@keyframes stroke {
	0%   {
		opacity: 0;
		fill: rgba(72,138,204,0);  
        stroke: rgba(255,255,255,1);
		stroke-dashoffset: 25%; 
        stroke-dasharray: 0 50%; 
        stroke-width: 2;
	}
	70%  {
		opacity: .5;
        fill: rgba(72,138,204,0); 
        stroke: rgba(255,255,255,1); 
    }
	80%  {
		opacity: .75;
        fill: rgba(72,138,204,0); 
        stroke: rgba(255,255,255,1); 
        stroke-width: 3; 
    }
	100% {
		opacity: 1;
		fill: rgba(255,255,255,0.8);
		fill: #FFFFFF;
		filter: drop-shadow(2px 2px 5px #000);
		stroke: rgba(255,255,255,0);
		stroke-dashoffset: -25%; 
		stroke-dasharray: 50% 0; 
		stroke-width: 0;
	}
}

.wrapper {
	background-color: transparent
	width: 100%;
	height: 100vh;
}
</style>